.zen-essentials-container {
    position: relative !important;
    margin-top: auto !important;
}

#zen-essentials {
    order: 999 !important;
}

#tabbrowser-arrowscrollbox > zen-workspace {
    padding-top: 0 !important;
}

#navigator-toolbox[zen-sidebar-expanded="true"] {
    .zen-essentials-container {
        min-width: 100% !important;
        width: 100% !important;
    }
}
